<div class="app-header">
  <mat-toolbar class="app-header__toolbar">
    <div class="app-header__project-name">KubaGame</div>

    <div class="app-header__spaces"></div>

    <nav class="app-header__nav">
      <a mat-button routerLink="/">Главная</a>
      <a mat-button>Магазин</a>
      <!--  routerLink="/shop" -->
      <a mat-button>Форум</a>
      <!-- routerLink="/forum" -->
      <a mat-button>О проекте</a>
      <!-- routerLink="/about" -->
      <button mat-stroked-button color="primary">Вход</button>
      <!-- routerLink="/login" -->
      <button mat-flat-button class="btn-cta">Регистрация</button>
      <!-- routerLink="/signup" -->
    </nav>
  </mat-toolbar>
</div>
