<div class="app-home">
  <section class="app-home__project">
    <div class="app-home__project-overlay"></div>

    <div class="app-home__project-content">
      <h1 class="app-home__project-title">KubaGame<br />SA-MP Project</h1>
      <p class="app-home__project-subtitle">
        Проект Elmir_Kuba. Pet-project. Вспомнить детство, эксперементировать и так далее. Новый
        взгляд на SA-MP "индустрию" на основе нового технологического опыта.
      </p>

      <div class="app-home__project-actions">
        <a mat-flat-button class="app-home__button-play">Начать игру</a>
        <!-- routerLink="/signup" -->
      </div>
    </div>
  </section>

  <main class="app-home__main-content">
    <h2>Разработка</h2>
    <p>
      Мой проект исключительно эксперементальный. Он не когда не выйдет (скорее всего) в production.
      Используются передовые технологии: HTML, SCSS, JavaScript, Node.js, TypeScript, Angular,
      Angular-Material, Nest.js, Drizzle ORM, MySQL, Docker & Docker Compose, Open MultiPlayer,
      Electron и так далее.
    </p>
  </main>
</div>
